API_FOOTBALL_KEY=
API_FOOTBALL_WORLD_CUP_LEAGUE_ID=
KAGGLE_API_TOKEN=
KAGGLE_USERNAME=
KAGGLE_KEY=
SPORTMONKS_KEY=
FOOTBALL_DATA_ORG_KEY=
FOOTBALL_DATA_ORG_COMPETITION_ID=2000
FOOTBALL_DATA_ORG_COMPETITION_CODE=WC
FOOTBALL_DATA_ORG_SEASON=2026
